name: Autograding Tests
on:
  - push
  - workflow_dispatch
  - repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Python test - Formatif F1
        id: formatif-f1-tests
        uses: classroom-resources/autograding-python-grader@v1
        with:
          timeout: '10'
          max-score: '100'
          setup-command: 'pip install -q pytest pytest-mock adafruit-circuitpython-bmp adafruit-blinka'

      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        with:
          runners: formatif-f1-tests
